.main{
    height: 100vh;
    width: 100vw;
     background: linear-gradient(90deg, #020411, #5a5757, #000000);
    
}
.navbar {
    height: 10vh;
    width: 100vw;
    
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}
nav ul {
    list-style-type: none;
    
    display: flex;
    

    
}
nav ul li {
    text-decoration: none;
    margin-left: 10vw;

    
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;

}
nav ul li a:hover {
    color:rgb(131, 2, 148);
    font-weight: bold;
    transition: 0.3s;
}
.small button {
    margin-left: 5vw;
    background-color: rgb(131, 2, 148);
    width: 12vw;
    height: 5vh;
    border-radius: 0.5vw;
    
}
.large button {
    margin-left: 5vw;
    background-color: rgb(251, 249, 252);
    width: 12vw;
    height: 5vh;
    border-radius: 0.5vw;
    
}
.small button a {
    text-decoration: none;
    
    color:white;
    font-size: 1rem;
    
}
.large button a {
    text-decoration: none;
    
    color:rgb(177, 28, 197);
    font-size: 1rem;
}
.content {
    text-align: center;
    margin-bottom: 0%;
    height: auto;
    width: 100vw;
     background: linear-gradient(90deg, #020411, #5a5757, #000000);

}
.content span{
    color:rgb(177, 28, 197);
}
.content h1 {
    color: white;
    font-size: 3rem;
    flex-direction: column;
    line-height: 2rem
}
.content p {
    color: white;
    font-size: 1.2rem;
    margin-top: 2vh;
    flex-direction: column;
    text-align: center;
}
.big a{
    width: 100vw;
    color: white;
}
.logo{
    font-size: 2rem;
    color: white;
    width: 10vw;
    
}
.big button{
    
    padding: 1vh 2vw;
    font-size: 1rem;
    border-radius: 2vw;
    background-color:transparent;
    border: 2px solid white;
}
button i{
    margin-left: 0.5vw;
    color: white;
}
.content img{
    max-width:100%;
    height: 300px;
    margin: 0;
}
.box{
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 0%;
    width: 100%;
    height: auto;
}
.box h1{
    color: white;
    font-size: 2.5rem;

}
.box p{
    color: white;
    font-size: 1.2rem;
    margin-top: 1vh;
}
.card{
    
    height: 30vh;
    width: 20vw;
    display: inline-block;
    margin: 2vh 2vw;
    border-radius: 1vw;
    border: 2px solid rgb(117, 113, 113);
    box-shadow: 2px 2px 10px gray;
}
.card p{
    color: rgb(255, 249, 249);
    font-size: 1rem;
    margin: 1vh 1vw;
}
.card h2{
    color: white;
    font-size: 1.5rem;
    
}
.card i{
    font-size: 3rem;
    display: inline-block;
    color: #a020f0;      /* purple */
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.card:hover{
    transform: scale(1.1);
    transition: 2s;
}
.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
@media (max-width: 780px) {

    .hamburger {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 10vh;
        right: 0;
        width: auto;
        height: auto;
        padding: 2vh 3vw;
        align-items: flex-end;
    }

    .navbar ul.active {
        display: flex;
        align-items: flex-end;
    }

    .navbar ul li {
        margin: 1vh 0;
        width: 100%;
        text-align: center;
    }

    /* hide buttons initially */
    .small,
    .large {
        display: none;
    }

    /* show buttons when menu opens */
    .navbar ul.active .small,
    .navbar ul.active .large {
        display: block;
        margin-top: 1vh;
        
    }
    .large button, .small button{
        width: 30vw;
        font-size: 1vw;
    }
    .content h1{
        font-size: 3rem;
        align-items: center;
        line-height: 3rem;
        flex-direction: column;
    }
    img{
        max-width: 100%;
        height: 50vh;
    }
    .content{
        width: 100vw;
        height: auto;
        margin-bottom: 0%;
        
        }
    .box h1{
        font-size: 2rem;
        align-items: center;
        flex-direction: column;
    }
    .card{
        width: 80vw;
        height: auto;
        flex-direction: column;
    }
    .box{
        height: auto;
        margin-top: 0%;
        
    }
    .card:hover{
    transform: scale(1.1);
    transition: 2s;
}
    
    
}

   
    