* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    
body {
    font-family: 'Nunito', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
     background: linear-gradient(90deg, #020411, #5a5757, #000000);
    
}
.navbar {
    height: 10vh;
    width: 100%;
    
    
    
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    
}
nav ul {
    list-style-type: none;
    
    display: flex;
    

    
}
nav ul li {
    text-decoration: none;
    margin: auto;
    
    padding-left:30px;

    
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    

}
nav ul li a:hover {
    color:rgb(131, 2, 148);
    font-weight: bold;
    transition: 0.3s;
}
.small button {
    margin-left: 5vw;
    background-color: rgb(131, 2, 148);
    
    height: 5vh;
    border-radius: 0.5vw;
     padding: 10px 16px;
  min-width: 130px;
    
}
.large button {
    margin-left: 5vw;
    background-color: rgb(251, 249, 252);
     padding: 10px 16px;
  min-width: 130px;
    height: 5vh;
    border-radius: 0.5vw;
    
}
.small button a {
    text-decoration: none;
    line-height: 1.5px;
    color:white;
    font-size: 1rem;
    
}
.large button a {
    text-decoration: none;
    line-height: 1.5px;
    color:rgb(177, 28, 197);
    font-size: 1rem;
}
.content {
    text-align: center;
    margin-bottom: 0%;
    height: auto;
    width: 100%;
     background: linear-gradient(90deg, #020411, #5a5757, #000000);
     

}
.content span{
    color:rgb(177, 28, 197);
}
.content h1 {
    color: white;
  font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
  line-height: 1.2;
  margin-top: 2vh;
  padding: 0 3vw;
}
.content p {
     color: white;
  font-size: clamp(0.9rem, 1vw + 0.6rem, 1.2rem);
  margin-top: 1vh;
  padding: 0 5vw;
}
 .big a{
    width: 100vw;
    color: white;
} 
.logo{
    font-size: 2rem;
    color: white;
    

    
}
.big button{
     display:inline-block;
  margin-top:10px;
  padding:12px 22px;
  border-radius:25px;
  border:2px solid #ffffff;
  color:#fff;
  text-decoration:none;
  font-size:1rem;
  transition:.3s;
  background-color: transparent;
    
   
   
   
}
button i{
    margin-left: 0.5vw;
    color: white;
}
.content img{
    max-width:100%;
    height: 300px;
    margin: 0;
}
.box{
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 0%;
    width: 100%;
    height: auto;
    
}
.box h1{
    color: white;
    font-size: 2.5rem;

}
.box p{
    color: white;
    font-size: 1.2rem;
    margin-top: 1vh;
}
.card{
    
    height: 250px;
    width: 100vw;
    display: inline-block;
    margin: 2vh 2vw;
    border-radius: 1vw;
    border: 2px solid rgb(117, 113, 113);
    box-shadow: 2px 2px 10px gray;
}
.card p{
    color: rgb(255, 249, 249);
    font-size: 1rem;
    margin: 1vh 1vw;
}
.card h2{
    color: white;
    font-size: 1.5rem;
    
}
.card i{
    font-size: 3rem;
    display: inline-block;
    color: #a020f0;      /* purple */
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.card:hover{
    transform: scale(1.1);
    transition: 2s;
}
.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
h1, h2, h3, p {
  word-wrap: break-word;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    
    
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 80vw;     
    height: auto;
}
@media (max-width: 780px) {

    .nav{
        justify-content: space-between;
         padding: 0 5vw;
    }
    .hamburger {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 10vh;
        right: 0;
        width: auto;
        height: auto;
        padding: 2vh 3vw;
        align-items: flex-end;
    }

    .navbar ul.active {
        display: flex;
        align-items: flex-end;
    }

    .navbar ul li {
        margin: 1vh 0;
        width: 100%;
        text-align: center;
    }

    /* hide buttons initially */
    .small,
    .large {
        display: none;
    }

    /* show buttons when menu opens */
    .navbar ul.active .small,
    .navbar ul.active .large {
        display: block;
        margin-top: 1vh;
        
        
    }
    .large button, .small button{
        width: 100%;
        font-size: 1vw;
    }
    .content h1{
        font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
        align-items: center;
        margin: 5px;
        flex-direction: column;
        text-align: center;
        
        font-size: 2rem;
    line-height: 2.3rem;
    padding: 0.4vw;
        

    }
    .content p{
         font-size: clamp(0.9rem, 1vw + 0.6rem, 1.2rem);
        font-size: 1.2rem;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 5vw;
        margin: 3px;
        
    }
    img{
        max-width: 100%;
        height: 50vh;
    }
    .content{
        width: 100%;
        height: auto;
        margin-bottom: 0%;
        text-align: center;
        

        
        
        }
    .box h1{
         font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2vw;
        margin: 2px;
        
    }
    .box p{
            font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 3px;
        
        
        padding: 2vw;
        
    }
    .card{
        width: 80vw;
        height: auto;
        flex-direction: column;
    }
    .box{
        height: auto;
        margin-top: 0%;
        
    }
    .card:hover{
    transform: scale(1.1);
    transition: 2s;
}
.rectangle{
    border: none;
    margin: none;
    display: flex;
    flex-direction: column;

    
    
}
}
.footer{
  background:#000000;
  color:#fff;
  text-align:center;
  padding:40px 20px;
  border-top:1px solid #444;
  margin-top:40px;
}

.footer h2{
  font-size:clamp(1.5rem, 2vw + 1rem, 2.2rem);
  margin-bottom:10px;
}

.footer p{
  font-size:1rem;
  opacity:0.9;
  margin-bottom:10px;
}

.email-btn{
  display:inline-block;
  margin-top:10px;
  padding:12px 22px;
  border-radius:25px;
  border:2px solid #a020f0;
  color:#fff;
  text-decoration:none;
  font-size:1rem;
  transition:.3s;
}

.email-btn:hover{
  background:#a020f0;
}

.copy{
  margin-top:20px;
  font-size:0.9rem;
  opacity:0.7;
}


   
    